/* =Typography
-------------------------------------------------------------- */

body {
  background-color: #fff;
  color: #333;
}

/* Links */
a, a:active, a:visited {
  color: #f26522;
}
a:hover {
  color: #f26522;
}
.response-date a:active, .response-date a:visited {
  color: #333;
}
.response-date a:hover {
  color: #f26522;
}

#sign-in-btn {
  color: #f26522;
}
#sign-in-btn:hover {
  color: #f26522;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 400;
  background-color: #f26522;
  color: #eee;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.btn:hover {
  background-color: #f26522;
  color: #fff;
}
#add-place,
#add-place:hover {
  font-weight: 800;
  box-shadow: -3px 3px 10px rgba(85, 85, 85, 0.5);
}
.submit-btn {
  font-size: 1.25em;
  padding: 0.5em 1em;
}
.user-support label {
  color: #eee;
  font-weight: 400;
  background: none;
  padding: 0;
}
.user-support input[type=checkbox]:checked ~ label {
  background-image: none;
}
.user-support:hover label {
  background-color: #f26522;
  color: #fff;
}


/* =Header
-------------------------------------------------------------- */

#site-header {
  background-color: #fff;
  clear: both;
}

/* Logo */
#site-title {
  height: 2.5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#site-title a {
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#site-logo {
  height: 100%;
  width: auto;
}

/* Navigation */
#nav-btn {
  font-family: "Helvetica Neue", Arial !important;
  background-color: #eee;
  color: #333;
  text-shadow: none;
}
.access a,
.access a:visited,
.access a:active,
.access a:link {
  background-color: #f26522;
  color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}
.recent-points a {
  color: #333;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
}
.recent-points a:hover {
  color: #fff;
  background: #f26522;
  border-color: rgba(0,0,0,0.1);
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
  background-color: #fff;
  color: #333;
}
a.shareabouts-logo {
  color: #00aaff;
}
a.shareabouts-logo:hover {
  color: #007fbf;
  border-bottom: 1px solid #00aaff;
}
#powered-by a.openplans-logo {
  color: #ff9a52;
}
#powered-by a.openplans-logo:hover {
  color: #ff8b38;
  border-bottom: 1px solid #ffb885;
}


/* =NYC Header Bar
-------------------------------------------------------------- */

.upper-header {
  background: #000;
  color: #fff;
  height: 25px;
  margin: 0;
  padding: 0 1.5em;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
}

.upper-header-right { float: right; white-space: nowrap; display: none; }
.upper-header-left { float: left; white-space: nowrap; }
.small-nyc-logo {
  height: 15px;
  width: 40px;
  margin: 0 10px 0 -1px;
}
.upper-header a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
.nyc-link {
  margin-right: -5px;
  position: relative;
  top: 2px;
}
.upper-header-divider {
  margin: 0 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* =The Map
-------------------------------------------------------------- */

#map {
  background: #e7e3da;
}

.other-type-instructions {
  /* These styles are based on the .drag-marker-instructions styles,
   * except left-aligned.
   */
  background-color: LightYellow;
  background-color: rgba(240,240,0,0.2);
  color: #444;
  font-weight: bold;
  text-shadow: -1px 1px 0 rgba(255,255,255,0.5);
  text-align: left;
  margin-bottom: 1em;
  padding: 0.75em 1em 0.875em;
  border-radius: 0.325em;
}

/* =The Legend
-------------------------------------------------------------- */

.legend {
  padding: 1em 0.5em 0.5em;
  border-bottom: 1px solid #ddd;
}
.legend ul {
  font-size: 0.875em;
  padding: 0 0 0.75em;
}
.map-layer-list li,
.place-type-list li {
  padding: 0 0 0.5em;
}
.map-layer-list {
}
.road-color {
  padding-left: 1.75em;
  display: inline-block;
  height: 0.375em;
  position: relative;
  top: -0.125em;
}
.fatality {
  padding-right: 0.875em;
  padding-left: 0.875em;
  margin-right: -7px;
  margin-left: -7px;
  vertical-align: middle;
}
.place-type-list {
}
.place-type-list li {
  position: relative;
  cursor: default;
}
.place-type-list img {
  height: 1.75em;
  width: auto;
  vertical-align: middle;
}

.place-type-description {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: auto;
  right: 3em;
  bottom: 100%;
  left: 0.875em;
  margin: 0 0 0.75em 0;
  border-radius: 0.5em 0.5em 0.5em 0;
  background: #000;
  color: #fff;
  font-size: 0.875em;
  box-shadow: -0.25em 0 1em rgba(255,255,255,0.8);
  -webkit-transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;
}
.place-type-li:hover .place-type-description {
  height: auto;
  padding: 0.5em 0.625em;
  opacity: 1;
  overflow: visible;
}
.place-type-li:hover .place-type-description:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top-color: #000;
  border-left-color: #000;
}


.legend-add-container {
  display: none;
}


/* =Place Type Selector
-------------------------------------------------------------- */

.place-type-selector {
  border: 0.25em solid #a3c7d9;
  border-bottom: 0;
  padding: 0;
}
.place-type-selector li {
  cursor: pointer;
  padding: 0.5em;
  border-bottom: 0.25em solid #a3c7d9;
  display: none;
}
.place-type-selector li:hover {
  color: #203970;
}
.place-type-selector li.active,
.place-type-selector.is-open li {
  display: block;
}
.place-type-selector.is-open .prompt {
  display: none;
}

.place-type-selector .prompt,
.place-type-selector .prompt:hover {
  color: #999;
  border-top: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
/* Match the prompt and placeholder color. */
::-webkit-input-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }
input:-moz-placeholder { color: #999; }

/* Put form items in <div> instead of <p> (<p> cannot contain block elements like <ul>). */
.form-item-container {
  margin: 0 0 1.5em;
}


/* =Zoom Message
-------------------------------------------------------------- */

.zoom-in-msg {
  text-align: center;
  z-index: 1;
  padding: 0.625em;
  color: #333;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 4px;
}


/* =About Page
-------------------------------------------------------------- */

.logos-three a {
  float: left;
  width: 33%;
  padding: 0 10% 0 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* =Center Point (new point icon)
-------------------------------------------------------------- */

#centerpoint.newpin .x {
  background: transparent url(images/marker-x-visionzero.png) 0 0 no-repeat scroll;
}
#centerpoint.newpin .marker {
  width: 54px;
  height: 80px;
  background: transparent url(images/marker-plus-visionzero.png) 0 0 no-repeat scroll;
  top: -36px;
  left: -14px;
}
#centerpoint.newpin:hover .marker,
#centerpoint.newpin.dragging .marker {
  top: -66px;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 60em) {
  .upper-header-right { display: inline; }
}

@media only screen and (min-width: 60em) {
  #site-title {
    height: 3.875em;
  }

  .access a:visited,
  .access a:active,
  .access a:link,
  .access .btn {
    color: #333;
    background-color: #fff;
  }
  .access a:hover {
    color: #fff;
    background: #f26522;
  }


  /* List View Button */
  .list-toggle-nav {
    float: left;
  }
  .list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #f26522;
    color: #eee;
    min-width: 11.5em;
  }
  .list-toggle-btn:hover {
    background-color: #f26522;
    color: #fff;
  }
  .show-the-map:before {
    content: '\27A4';
    margin: 0 0.375em;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 30% 60%;
        -ms-transform-origin: 30% 60%;
            transform-origin: 30% 60%;

  }
  .show-the-list:before {
    content: '\2630';
    margin: 0 0.375em;
    text-shadow: -0.25em 0 0 #f26522, -0.25em -1px 0 #f26522, -0.25em 1px 0 #f26522, -0.375em 0 0 #fff;
  }

  /* Add space for NYC .upper-header */
  #map-container,
  #ticker,
  #content,
  #list-container {
    margin-top: 25px;
  }

  #content {
    left: 60%;
  }

  .content-visible #map-container {
    width: 60%;
  }

  .legend-add-container {
    display: block;
    margin-bottom: 0.5em;
  }

  .upper-header-right { display: inline; }

  /* IE8 needs some stuff set again. And it doesn't do shadows. Ugh. */
  .ie8 #site-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  .ie8 #site-title {
  }
  .ie8 #site-title a {
  }
  .ie8 #ticker {
    border-left: 1px solid #ddd;
  }
  .ie8 #colophon {
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
  }

}
