$med-screen: 40.063em;
$large-screen: 60em;
$small-map-height: 200px;

.shareabouts {

  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  @media screen and (min-width: $med-screen) {
    height: 250px;
    @media screen and (min-height:  525px) { height:  300px; }
    @media screen and (min-height:  575px) { height:  350px; }
    @media screen and (min-height:  625px) { height:  400px; }
    @media screen and (min-height:  675px) { height:  450px; }
    @media screen and (min-height:  725px) { height:  500px; }
    @media screen and (min-height:  775px) { height:  550px; }
    @media screen and (min-height:  825px) { height:  600px; }
    @media screen and (min-height:  875px) { height:  650px; }
    @media screen and (min-height:  925px) { height:  700px; }
    @media screen and (min-height:  975px) { height:  750px; }
    @media screen and (min-height: 1025px) { height:  800px; }
    @media screen and (min-height: 1075px) { height:  850px; }
    @media screen and (min-height: 1125px) { height:  900px; }
    @media screen and (min-height: 1175px) { height:  950px; }
    @media screen and (min-height: 1225px) { height: 1000px; }
    @media screen and (min-height: 1275px) { height: 1050px; }
    @media screen and (min-height: 1325px) { height: 1100px; }
    @media screen and (min-height: 1375px) { height: 1150px; }
    @media screen and (min-height: 1425px) { height: 1200px; }
    @media screen and (min-height: 1475px) { height: 1250px; }
    @media screen and (min-height: 1525px) { height: 1300px; }
    @media screen and (min-height: 1575px) { height: 1350px; }
    @media screen and (min-height: 1625px) { height: 1400px; }
    @media screen and (min-height: 1675px) { height: 1450px; }
    @media screen and (min-height: 1725px) { height: 1500px; }
    @media screen and (min-height: 1725px) { height: 1500px; }
  }


  /*! normalize.css v1.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }


  /* =Base Styles
  -------------------------------------------------------------- */

  /* Typography */
  body {
    line-height: 1.25;
  }
  body, select, input, textarea {
    color: #333;
    font-family: "Helvetica Neue", Arial, Helvetica, serif;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin: 0 0 0.25em 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1em;
    text-transform: uppercase;
  }
  p {
    margin: 0 0 1.5em;
  }
  ul,
  ol,
  dl {
    margin-bottom: 0.75em;
    line-height: inherit;
  }
  li {
    padding-bottom: 0.75em;
    line-height: inherit;
  }
  nav ul,
  nav ol,
  .unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav li,
  .unstyled-list li {
    padding-bottom: 0;
  }
  strong {
    font-weight: 800;
  }
  hr {
    margin: 1.5em 0;
    border: 1px solid #eeeeee;
    border-top-color: rgba(0,0,0,0.2);
    border-bottom-color: rgba(255,255,255,0.75);
    border-right: 0;
    border-left: 0;
  }

  /* Buttons */
  .btn,
  .btn:visited,
  .btn:link,
  .button,
  .button:visited,
  .button:link {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0.325em 0.625em;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f26522;
    box-shadow: none;
    font-weight: 400;
    border: 0;
    border-radius: 0;
  }
  .btn:hover,
  .button:hover {
    background-color: #f26522;
    color: #fff;
  }
  .btn-block,
  .btn-block:visited,
  .btn-block:link {
    clear: both;
    display: block;
    padding: 0.5em 0.75em;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .btn-large {
    font-size: 1.25em;
    padding: 0.75em 1em 0.5em;
  }
  .btn-small {
    font-size: 0.75em;
  }

  /* Forms */
  form {
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0 0 1.2em;
  }
  label {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #999;
    margin: 0 0.5em 0 0;
  }
  label small {
    text-transform: none;
  }
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  textarea {
    outline: 0;
    border: 0.25em solid #ccc;
    border-radius: 0;
    padding: 0.5em;
    display: block;
    width: 100%;
    height: auto;
    font-weight: normal;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  input:focus,
  textarea:focus {
//    outline: 2px solid #007fbf;
  }
  textarea {
    height: 6.5em;
    resize: none;
  }
  .form-submitted input:invalid,
  .form-submitted textarea:invalid,
  .form-submitted select:invalid {
//    outline: 2px solid #b2182b;
  }

  .fileinput-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  .fileinput-container input {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .fileinput-name {
    display: inline-block;
  }
  .form-spinner {
    clear: both;
    padding: 1em;
    position: relative;
    display: none;
  }
  .loading .form-spinner {
    display: inline-block;
  }

  .submit-btn {
    font-size: 1.25em;
    padding: 0.5em 1em;
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
  }
  .icon-inline {
    height: 1.5em;
    width: auto;
    margin: 0 0.25em -0.325em 0.5em;
  }
  .icon-muted {
    opacity: 0.75;
  }


  /* =Nonsemantic Base Styles
  -------------------------------------------------------------- */

  .clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }

  /* Hide for both screenreaders and browsers */
  .is-hidden, .hidden { display: none; visibility: hidden; }
  /* Hide only visually, but have it available for screenreaders */
  .is-screen-reader-text,
  .is-visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* Hide visually and from screenreaders, but maintain layout */
  .is-invisible { visibility: hidden; }

  .nobreak { white-space: nowrap; }
  .capitalize { text-transform: capitalize; }


  /* =Map, Streetview, & Basic Layout(s)
  -------------------------------------------------------------- */

  /* Geolocation Button */
  .locate-me {
    background-image: url(images/locate-me.png);
  }
  #map .leaflet-bar a,
  #map .leaflet-bar a:hover {
    width: 33px;
    height: 33px;
    line-height: 33px;
  }

  /* Map Attribution */
  #map .leaflet-control-attribution {
    font-size: 9px;
    -webkit-text-size-adjust: none; /* keep iPhone from getting smart with the font sizes */
  }

  .shareabouts-location-map-container {
    position: relative;
    @media screen and (min-width: $med-screen) {
      height: $small-map-height;
      @media screen and (min-height:  775px) { height: $small-map-height +  50; }
      @media screen and (min-height:  825px) { height: $small-map-height + 100; }
      @media screen and (min-height:  875px) { height: $small-map-height + 150; }
      @media screen and (min-height:  925px) { height: $small-map-height + 200; }
      @media screen and (min-height:  975px) { height: $small-map-height + 250; }
      @media screen and (min-height: 1025px) { height: $small-map-height + 300; }
      @media screen and (min-height: 1075px) { height: $small-map-height + 350; }
      @media screen and (min-height: 1125px) { height: $small-map-height + 400; }
      @media screen and (min-height: 1175px) { height: $small-map-height + 450; }
      @media screen and (min-height: 1225px) { height: $small-map-height + 500; }
      @media screen and (min-height: 1275px) { height: $small-map-height + 550; }
      @media screen and (min-height: 1325px) { height: $small-map-height + 600; }
      @media screen and (min-height: 1375px) { height: $small-map-height + 650; }
      @media screen and (min-height: 1425px) { height: $small-map-height + 700; }
      @media screen and (min-height: 1475px) { height: $small-map-height + 750; }
      @media screen and (min-height: 1525px) { height: $small-map-height + 800; }
      @media screen and (min-height: 1575px) { height: $small-map-height + 850; }
      @media screen and (min-height: 1625px) { height: $small-map-height + 900; }
      @media screen and (min-height: 1675px) { height: $small-map-height + 950; }
      @media screen and (min-height: 1725px) { height: $small-map-height + 1000; }
      @media screen and (min-height: 1725px) { height: $small-map-height + 1050; }
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
    }
    &.active {
      position: relative;
      width: auto;
      @media screen and (min-width: $med-screen) {
        height: 100%;
        padding-right: 18em;
      }
    }
    .shareabouts-legend {
      display: none;
      p {
        font-size: 0.875em;
        margin-bottom: 0.5em;
      }
      .place-type-list {
        font-size: 0.875em;
      }
      .map-layer-list {
        margin-bottom: 0.5em;
        font-size: 0.75em;
      }
    }
    &.active .shareabouts-legend {
      display: block;
      padding: 1em;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      @media screen and (min-width: $med-screen) {
        height: 100%;
        width: 18em;
        position: absolute;
        top: 0;
        right: 0;
        overflow: auto;
      }
    }

    .shareabouts-location-map {}

  }

  .shareabouts-streetview-container {
    display: none;
    &.active {
      display: block;
    }
    @media screen and (min-width: $med-screen) {
      height: 100%;
      .shareabouts-streetview {
        height: 100%;
        .shareabouts-map-container {
          width: 60%;
        }
        .shareabouts-panel {
          width: 40%;
        }
      }
    }
    .close-streetview-button {
      display: none;
      @media screen and (min-width: $med-screen) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
      }
    }
  }
  /* Google Maps' images choke on our catch-all max-width */
  .shareabouts-map img,
  .shareabouts-location-map img {
    max-width: none;
  }

  .place-summary-popup {
  	width: 200px;
  }
  .place-summary-popup h1 {
    font-size: 1em;
    margin-right: 5px;
  }
  .place-summary-popup p {
    margin-bottom: 5px;
    line-height: 1.25;
  }
  .place-summary-popup .submitter-avatar {
    float: left;
    width: 2.375em;
    height: auto;
    margin: 0 5px 5px 0;
  }

  .shareabouts-geometry-set .form-instructions {
    display: none;
  }

  .shareabouts-add-button-container {
    width: auto;/* TODO: This overrides an explicit width in shareabouts.css that shouldn't be set. */
    @media screen and (min-width: $med-screen) {
      position: absolute;
      bottom: 50px;
      left: 0;
    }
  }
  .shareabouts-add-button,
  .shareabouts-add-button:visited,
  .shareabouts-add-button:link {
    display: block;
    padding: 0.625em 0.875em;
    font-size: 1.25em;
    white-space: nowrap;
    @media screen and (min-width: $med-screen) {
      display: inline-block;
      font-size: 1.5em;
      padding: 0.75em 1.5em 0.75em 0.75em;
      border-radius: 0 2em 2em 0;
      box-shadow: 0 0 10px rgba(85, 85, 85, 0.8);
    }
  }

  /* Drag Instructions (for adding a new place) */
  .form-instructions {
    background-color: LightYellow;
    background-color: rgba(240,240,0,0.2);
    color: #444;
    font-weight: bold;
    text-shadow: -1px 1px 0 rgba(255,255,255,0.5);
    text-align: center;
    margin-bottom: 1em;
    padding: 0.75em 1em 0.875em;
    border-radius: 0.325em;
  }

  .shareabouts-intersection-detail {
    padding: 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    @media screen and (min-width: $med-screen) {
      width: 40%;
      box-shadow: 0 0 1em rgba(0,0,0,0.2);
      position: absolute;
      top: $small-map-height;
      @media screen and (min-height:  775px) { top: $small-map-height +  50; }
      @media screen and (min-height:  825px) { top: $small-map-height + 100; }
      @media screen and (min-height:  875px) { top: $small-map-height + 150; }
      @media screen and (min-height:  925px) { top: $small-map-height + 200; }
      @media screen and (min-height:  975px) { top: $small-map-height + 250; }
      @media screen and (min-height: 1025px) { top: $small-map-height + 300; }
      @media screen and (min-height: 1075px) { top: $small-map-height + 350; }
      @media screen and (min-height: 1125px) { top: $small-map-height + 400; }
      @media screen and (min-height: 1175px) { top: $small-map-height + 450; }
      @media screen and (min-height: 1225px) { top: $small-map-height + 500; }
      @media screen and (min-height: 1275px) { top: $small-map-height + 550; }
      @media screen and (min-height: 1325px) { top: $small-map-height + 600; }
      @media screen and (min-height: 1375px) { top: $small-map-height + 650; }
      @media screen and (min-height: 1425px) { top: $small-map-height + 700; }
      @media screen and (min-height: 1475px) { top: $small-map-height + 750; }
      @media screen and (min-height: 1525px) { top: $small-map-height + 800; }
      @media screen and (min-height: 1575px) { top: $small-map-height + 850; }
      @media screen and (min-height: 1625px) { top: $small-map-height + 900; }
      @media screen and (min-height: 1675px) { top: $small-map-height + 950; }
      @media screen and (min-height: 1725px) { top: $small-map-height + 1000; }
      @media screen and (min-height: 1725px) { top: $small-map-height + 1050; }
      right: 0;
      bottom: 0;
      overflow: auto;
    }
    .intersection-title {
      font-size: 1em;
      margin: -1em -1em 1em;
      padding: 0.75em 1em;
      background-color: #000;
      color: #fff;
      span {
        font-size: 1.25em;
      }
    }

    .incident-table {
      width: 100%;

      thead {
        font-weight: bold;
      }
    }
  }


  /* =Zoom UI & Message
  -------------------------------------------------------------- */

  .shareabouts-zoom-ui {
    padding: 0.25em;
    line-height: 2.25;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(240, 240, 240, 0.9);
    @media screen and (min-width: $med-screen) {
      position: absolute;
      left: 6px;
      top: 10px;
      z-index: 1;
      border-radius: 4px;
    }
    @media screen and (min-width: $large-screen) {
      line-height: 2.5;
    }
  }
  .shareabouts-zoom-buttons {
    float: left;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0.125em;
  }
  .shareabouts-zoom-button {
    font-size: 1.5em;
    float: left;
    width: 1em;
    height: 1em;
    color: #000;
    text-align: center;
    line-height: 0.875;
    box-shadow: 1px 1px 0 #bbb;
    @media screen and (min-width: $large-screen) {
      clear: left;
    }
  }
  .map-instruction {
    font-size: 0.75em;
    margin-right: 0.25em;
    margin-left: 4.75em;
    @media screen and (min-width: $med-screen) {
      display: none;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 1.25em;
      margin-right: 0.5em;
      margin-left: 1.75em;
    }
  }
  .shareabouts-location-map-container.active  .map-instruction {
    @media screen and (min-width: $med-screen) {
      display: block;
    }
  }


  /* =The Legend
  -------------------------------------------------------------- */

  .legend {
    padding: 1em 0.5em 0.5em;
    border-bottom: 1px solid #ddd;
  }
  .legend ul {
    font-size: 0.875em;
    padding: 0 0 0.75em;
  }
  .map-layer-list li,
  .place-type-list li {
    padding: 0 0 0.5em;
  }
  .map-layer-list {
  }
  .road-color {
    padding-left: 1.75em;
    display: inline-block;
    height: 0.375em;
    position: relative;
    top: -0.125em;
  }
  .fatality {
    padding-right: 0.875em;
    padding-left: 0.875em;
    margin-right: -7px;
    margin-left: -7px;
    vertical-align: middle;
  }
  .place-type-list {
  }
  .place-type-list li {
    position: relative;
    cursor: default;
  }
  .place-type-list img {
    height: 1.75em;
    width: auto;
    vertical-align: middle;
  }

  .place-type-description {
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: auto;
    right: 3em;
    bottom: 100%;
    left: 0.875em;
    margin: 0 0 0.75em 0;
    border-radius: 0.5em 0.5em 0.5em 0;
    background: #000;
    color: #fff;
    font-size: 0.875em;
    box-shadow: -0.25em 0 1em rgba(255,255,255,0.8);
    -webkit-transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
  }
  .place-type-li:hover .place-type-description {
    height: auto;
    padding: 0.5em 0.625em;
    opacity: 1;
    overflow: visible;
  }
  .place-type-li:hover .place-type-description:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-top-color: #000;
    border-left-color: #000;
  }


  .legend-add-container {
    display: none;
  }


  /* =Place Type Selector
  -------------------------------------------------------------- */

  .place-type-selector {
    border: 0.25em solid #ccc;
    border-bottom: 0;
    padding: 0;
  }
  .place-type-selector li {
    cursor: pointer;
    padding: 0.5em;
    border-bottom: 0.25em solid #ccc;
    display: none;
  }
  .place-type-selector li:hover {
    color: #203970;
  }
  .place-type-selector li.active,
  .place-type-selector.is-open li {
    display: block;
  }
  .place-type-selector.is-open .prompt {
    display: none;
  }

  .place-type-selector .prompt,
  .place-type-selector .prompt:hover {
    color: #999;
    border-top: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
  /* Match the prompt and placeholder color. */
  ::-webkit-input-placeholder { color: #999; }
  ::-moz-placeholder { color: #999; }
  :-ms-input-placeholder { color: #999; }
  input:-moz-placeholder { color: #999; }

  /* Put form items in <div> instead of <p> (<p> cannot contain block elements like <ul>). */
  .form-item-container {
    margin: 0 0 1.5em;
  }


  /* Ajax Error Message */
  #ajax-error-msg {
    display: none;
    position: absolute;
    top: 10px;
    left: 50px;
    max-width: 300px;
    z-index: 9999;
    padding: 0.625em;
    color: #8D5251;
    border: 1px solid #CFABAB;
    background-color: rgba(242, 206, 206, 0.8);
    border-radius: 4px;
  }


  /* =Progress Bars
  -------------------------------------------------------------- */

  .progress-bar {
    background: #777;
    background: rgba(85,85,85,0.5);
    height: 1.5em;
    padding: 0 0.25em;
    position: relative;
    border-radius: 0.75em;
    cursor: default;
    pointer-events: none;
  }
  .progress-bar strong {
    position: absolute;
    top: 0;
    left: 1em;
    z-index: 2;
    color: #fff;
    font-size: 0.75em;
    line-height: 1.875;
    text-transform: uppercase;
    text-shadow: 0 0 0.25em rgba(85,85,85,1);
  }
  .progress-bar span {
    background: #00aaff;
    display: block;
    width: 0%;
    height: 1em;
    position: relative;
    z-index: 1;
    top: 0.25em;
    overflow: visible;
    border-radius: 0.5em;
    white-space: nowrap;
  }
  #map-progress {
    position: absolute;
    top: 10px;
    right: 50px;
    bottom: auto;
    left: 50px;
    z-index: 3;
    display:none;
    font-size: 1.25em;
  }


  /* =Content: Pages & Places
  -------------------------------------------------------------- */

  .shareabouts-panel-content {
    background: #fff;
  }

  /* Promotion: Voting & Sharing */
  .promotion {
    float: right;
    margin: 0 0 1em 0.5em;
  }
  .support {
    margin-bottom: 0.75em;
    position: relative;
  }
  .user-support {
    position: relative;
  }
  .user-support input[type=checkbox] {
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    zoom: 1;
  }
  .user-support label {
    display: block;
    background: transparent url(images/heart-empty.png) left center no-repeat scroll;
    box-shadow: none;
    border-radius: 0;
    font-size: 1em;
    padding-left: 22px;
    color: #007fbf;
    color: #fff;
  }
  .user-support input[type=checkbox]:checked ~ label {
    background-image: url(images/heart.png);
  }
  .user-support:hover label {
    background-color: #93b7c9;
  }
  .support-count {}
  .social {
    min-width: 84px;
  }
  .sharing {
    margin: 0;
  }
  .share-link {
    float: right;
    padding: 0 !important;
    margin-left: 10px;
  }
  .share-link a {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -9999px;
  }
  .share-twitter a {
    background: url(images/twitter-32.png) 0 0 no-repeat scroll;
  }
  .share-facebook a {
    background: url(images/facebook-32.png) 0 0 no-repeat scroll;
  }

  /* Places */
  .place-header {
    margin-bottom: 1em;
  }
  .place-header a {
    text-decoration: none;
  }
  .place-submission-details {
    display: block;
    padding-left: 3.75em;
  }
  .point-submitter .avatar {
    width: 3.25em;
    height: 3.25em;
    float: left;
    margin-left: -3.75em;
  }
  .response-date {
    display: block;
    text-transform: uppercase;
    color: #888;
    font-size: 0.75em;
  }
  .response-date a {
    color: #888;
  }
  .response-date a:hover {
    color: #00aaff;
  }
  .survey-count {
    font-size: 0.75em;
    text-transform: uppercase;
    display: block;
  }

  /* Surveys */
  .survey-region,
  .survey {
    position: relative;
  }
  .survey-header {
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 0.75em;
    margin-bottom: 1em;
    font-size: 1.25em;
  }
  a.reply-link {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.5;
  }
  ol.responses {
  }
  .response {
    position: relative;
    padding-bottom: 2.625em;
    margin-bottom: 1em;
  }
  .response-header {
    padding-left: 3.75em;
    margin: 0 0 0 1em;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .response-submitter {}
  .response-submitter .avatar {
    width: 3em;
    height: 3em;
    float: left;
    margin-left: -3.75em;
  }
  .response-meta {}
  .response-body {
    margin: 0 0 1em;
    padding: 1em;
    border-top: 1px solid #a8a8a8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 0;
    border-left: 1px solid #c8c8c8;
    background: #eee;
    border-radius: 1em;
    position: relative;
  }
  .response-body:after {
    content: '';
    height: 0;
    width: 0;
    border: 1em solid transparent;
    border-top-color: #eee;
    position: absolute;
    top: 100%;
    left: 1.5em;
  }
  .response-label-comment {
    display: none;
  }
  .response-value-comment {
    margin-bottom: 0.5em;
  }

  article.response footer {
    text-align: right;
  }
  .survey-reply-link {
    color: #999;
    background: #eee;
    padding: 0.5em 0.75em;
    text-decoration: none;
    font-weight: bold;
  }
  .survey-reply-link:hover {
    background: #607890;
    color: #fff;
  }

  .submit-btn {
    float: left;
    margin: 0 0.75em 0 0;
  }

  form .signed-in-as {
    float: left;
    white-space: nowrap;
    padding-top: 0.125em;
    line-height: 1.5;
  }
  form .signed-in-as .avatar {
    height: 1.5em;
    width: auto;
    position: relative;
    top: 0.5em;
  }
  form .signed-in-as a {
    font-weight: bold;
    font-size: 0.875em;
    text-transform: uppercase;
  }
  .or-sign-in {
    display: block;
    margin-top: 0.5em;
  }
  a.auth-inline {
    display: inline;
    font-size: 0.875em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.25em 0.5em;
  }

}

#main .shareabouts {
  @media screen and (min-width: 630px) {
    margin-bottom: -60px;
  }
}
