$med-screen: 40.063em;
$large-screen: 60em;

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.shareabouts {
  @media screen and (min-width: $med-screen) {
    height: 700px;
  }
}

.shareabouts-location-map-container {
  position: relative;
  display: none;
  &.active { 
    display: block; 
  }
  @media screen and (min-width: $med-screen) {
    height: 100%;
    padding-right: 18em;
  }
}
.shareabouts-location-map {
}
.shareabouts-legend {
  @media screen and (min-width: $med-screen) {
    height: 100%;
    width: 18em;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    padding: 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.shareabouts-streetview {
  display: none;
  &.active { 
    display: block; 
  }
  @media screen and (min-width: $med-screen) {
    height: 100%;
  }
}

.place-summary-popup {
	width: 200px;
}
.place-summary-popup h1 {
  font-size: 1em;
  margin-right: 5px;
  margin-bottom: 5px;
}
.place-summary-popup .submitter-avatar {
  float: left;
  width: 50px;
}

.shareabouts-geometry-set .form-instructions {
  display: none;
}